body {
  background-color: #010101;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 164px;
}

h2 {
  font-size: 82px;
}

h3 {
  font-size: 42px;
}

p {
  font-size: 20px;
}

@media (max-width: 480px) {
  h1 {
    margin-top: 100px;
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 23px;
  }
}